### Instalar No VSCODE as extensões "Jupyter" e "Python" para rodar tudo

In [1]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (23.1.2)Note: you may need to restart the kernel to use updated packages.

Instalação das bibliotecas

In [2]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4->bs4) (2.4.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install requests

Requirement already satisfied: requests in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from requests) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from requests) (2023.5.7)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\robso\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\robso\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install pandas

Requirement already satisfied: pandas in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\robso\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\robso\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\robso\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Importando as bibliotecas
+ Soup
+ Pandas
+ requests

REQUESTS: Funcionando apenas no python 3.9

### Após mudar para o Python 3.9, Rode todos os codigos e instale o kernel que ele vai pedir

In [7]:
import pandas as pd
import bs4
from bs4 import BeautifulSoup
import requests
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

### Hora e data atual da pesquisa

In [8]:
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 quarta-feira, 14 de junho de 2023
01:14

### Dollar

In [9]:

page = requests.get('https://www.google.com/search?q=dolar+hoje&rlz=1C1SQJL_pt-BRBR998BR998&oq=dola&aqs=chrome.1.69i57j0i271l3.3519j0j4&sourceid=chrome&ie=UTF-8&dlnr=1&sei=ykoSZKGROs6H5OUPg5KBoAk', headers = headers)
soup = BeautifulSoup(page.content, 'html.parser')
valor_dolar = soup.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_dolar.text)

4,86

### Aquivo de log para teste do Soup

In [10]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Dollar vale {valor_dolar.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Dollar vale {valor_dolar.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Dollar vale 4,86 reais.
01:14,  quarta-feira, 14 de junho de 2023

### EURO

In [11]:
page3 = requests.get('https://www.google.com/search?q=EURO+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEddQfbnRYqRXtmONwf62sU3XcRjDdQ%3A1680725496187&ei=-NUtZK6TC8nX5OUPjJmt8Ag&ved=0ahUKEwiu76ixxpP-AhXJK7kGHYxMC44Q4dUDCA8&uact=5&oq=EURO+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzINCAAQigUQsQMQgwEQQzILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBMgsIABCABBCxAxCDATIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABEoECEEYAFAAWOwIYPwdaABwAXgAgAGsB4gBwxiSAQswLjEuNC0xLjEuMpgBAKABAcABAQ&sclient=gws-wiz-serp', headers = headers)
soup3 = BeautifulSoup(page3.content, 'html.parser')
valor_euro = soup3.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_euro.text)

5,24

In [12]:
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 quarta-feira, 14 de junho de 2023
01:14

In [13]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Euro vale {valor_euro.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Euro Vale {valor_euro.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Euro Vale 5,24 reais.
01:14,  quarta-feira, 14 de junho de 2023

### Yen

In [14]:
page5 = requests.get('https://www.google.com/search?q=iene+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdebEgkemkBO8HfOuMs8ZABNcQ9Djw%3A1680726613683&ei=VdotZPWwKbOK5OUPk_KeyAI&oq=yen+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgAMg0IABCKBRCxAxCDARBDMgcIABCABBAKMgcIABCABBAKMgcIABCKBRBDMgcIABCABBAKMggIABAHEB4QCjIHCAAQgAQQCjIICAAQBxAeEAoyCwgAEAcQHhDxBBAKMggIABAHEB4QCjoPCC4QgAQQDRCxAxAKEOoEOgYIABAHEB46GgguEIAEEA0QsQMQChDqBBDcBBDeBBDgBBgBSgQIQRgAUABYhwVgpiJoAHABeACAAZ8BiAGeA5IBAzAuM5gBAKABAcABAdoBBggBEAEYFA&sclient=gws-wiz-serp', headers = headers)
soup5 = BeautifulSoup(page5.content, 'html.parser')
valor_yen = soup5.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_yen.text)

0,035

In [15]:
#Celula contendo data e hora atual
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 quarta-feira, 14 de junho de 2023
01:14

In [16]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Iene  vale {valor_yen.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Iene  Vale {valor_yen.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Iene  Vale 0,035 reais.
01:14,  quarta-feira, 14 de junho de 2023

### Yuan Chinês

In [17]:
page6 = requests.get('https://www.google.com/search?q=yuan+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdfrtzGxfxtaaWsS8DyoRLzNpihc1w%3A1680727688378&ei=iN4tZJDhFrng5OUPj7q8sAc&oq=yuan+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgAMgsIABCABBCxAxCDATIGCAAQBxAeMgYIABAHEB4yCAgAEAcQHhAKMgYIABAHEB4yBggAEAcQHjIGCAAQBRAeMggIABAFEAcQHjIGCAAQBRAeMgYIABAFEB5KBAhBGABQAFgAYNUMaABwAXgAgAF-iAF-kgEDMC4xmAEAoAECoAEBwAEB&sclient=gws-wiz-serp', headers = headers)
soup6 = BeautifulSoup(page6.content, 'html.parser')
valor_yuan = soup6.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_yuan.text)

0,68

In [18]:
#Celula contendo data e hora atual
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 quarta-feira, 14 de junho de 2023
01:14

In [19]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Yuan Chinês vale {valor_yuan.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Yuan Chinês Vale {valor_yuan.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Yuan Chinês Vale 0,68 reais.
01:14,  quarta-feira, 14 de junho de 2023

### Operando com PANDAS

### Dataframe contendo a raspagem de dados    
+ Dollar
+ Euro
+ Yen
+ Yuan

In [20]:
with open('Log1.txt', 'w') as arquivo:
    arquivo.write(valor_dolar.text)
    arquivo.write(valor_euro.text)
    arquivo.write(valor_yen.text)
    arquivo.write(valor_yuan.text)

In [21]:
Moedeiro = {'Moeda' :['Dollar','Euro','Iene','Yuan Chinês'],
            'Valor(R$)' :[valor_dolar.text, valor_euro.text, valor_yen.text, valor_yuan.text],
            'Hora' :[Hora_agora.text,Hora_agora.text,Hora_agora.text,Hora_agora.text],
            'Data' :[data_atual.text,data_atual.text,data_atual.text,data_atual.text],    
}
moedas_df = pd.DataFrame(Moedeiro)
display(moedas_df)  #Mostrando os valores de moeda e hora no DataFrame.

         Moeda Valor(R$)   Hora                                 Data
0       Dollar      4,86  01:14   quarta-feira, 14 de junho de 2023
1         Euro      5,24  01:14   quarta-feira, 14 de junho de 2023
2         Iene     0,035  01:14   quarta-feira, 14 de junho de 2023
3  Yuan Chinês      0,68  01:14   quarta-feira, 14 de junho de 2023

In [22]:
Moedeiro_A = pd.read_excel('Relatório.xlsx')
moedas1_df = pd.DataFrame(Moedeiro_A)
display(moedas1_df)

,Unnamed: 0,Moeda,Valor(R$),Hora,Data
0,0,Dollar,"4,99",17:33,"quarta-feira, 3 de maio de 2023"
1,1,Euro,"5,51",17:33,"quarta-feira, 3 de maio de 2023"
2,2,Iene,"0,037",17:33,"quarta-feira, 3 de maio de 2023"
3,3,Yuan Chinês,"0,72",17:33,"quarta-feira, 3 de maio de 2023"
4,4,Dollar,"4,99",16:59,"domingo, 30 de abril de 2023"
...,...,...,...,...,...
99,99,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023"
100,100,Dollar,"5,03",21:20,"quarta-feira, 5 de abril de 2023"
101,101,Euro,"5,49",21:20,"quarta-feira, 5 de abril de 2023"
102,102,Iene,"0,038",21:20,"quarta-feira, 5 de abril de 2023"
103,103,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023"

### Hora de Salvar dados

In [23]:
#Moedeiro append ao DataFrame
moedas_df = pd.concat([moedas_df,moedas1_df], ignore_index=True)
display(moedas_df)
moedas_df.drop(["Unnamed: 0"], axis=1, inplace=True)

,Moeda,Valor(R$),Hora,Data,Unnamed: 0
0,Dollar,"4,86",01:14,"quarta-feira, 14 de junho de 2023",NaN
1,Euro,"5,24",01:14,"quarta-feira, 14 de junho de 2023",NaN
2,Iene,"0,035",01:14,"quarta-feira, 14 de junho de 2023",NaN
3,Yuan Chinês,"0,68",01:14,"quarta-feira, 14 de junho de 2023",NaN
4,Dollar,"4,99",17:33,"quarta-feira, 3 de maio de 2023",0.0
...,...,...,...,...,...
103,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023",99.0
104,Dollar,"5,03",21:20,"quarta-feira, 5 de abril de 2023",100.0
105,Euro,"5,49",21:20,"quarta-feira, 5 de abril de 2023",101.0
106,Iene,"0,038",21:20,"quarta-feira, 5 de abril de 2023",102.0
107,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023",103.0

In [24]:

display(moedas_df)

           Moeda Valor(R$)   Hora                                 Data
0         Dollar      4,86  01:14   quarta-feira, 14 de junho de 2023
1           Euro      5,24  01:14   quarta-feira, 14 de junho de 2023
2           Iene     0,035  01:14   quarta-feira, 14 de junho de 2023
3    Yuan Chinês      0,68  01:14   quarta-feira, 14 de junho de 2023
4         Dollar      4,99  17:33     quarta-feira, 3 de maio de 2023
..           ...       ...    ...                                  ...
103  Yuan Chinês      0,73  21:20    quarta-feira, 5 de abril de 2023
104       Dollar      5,03  21:20    quarta-feira, 5 de abril de 2023
105         Euro      5,49  21:20    quarta-feira, 5 de abril de 2023
106         Iene     0,038  21:20    quarta-feira, 5 de abril de 2023
107  Yuan Chinês      0,73  21:20    quarta-feira, 5 de abril de 2023

[108 rows x 4 columns]

In [25]:
  #Relatando os valores de moeda e hora no DataFrame.
with pd.ExcelWriter("Relatório.xlsx", mode="w", engine="openpyxl") as writer:
    moedas_df.to_excel(writer)